<style >
        /*My name*/
        .main 
        {
            margin: 0%;
        }
        .mx
        {
            color:ghostwhite;
            text-decoration: none;
            text-transform: uppercase;
            font-family: NexaB;
            font-size: 40px;
            font-weight: 800;
            text-align: center;
        }
        /*Body Info*/
        body
        {
            font-family: NexaL;
            font-weight: 600;
            text-transform: uppercase;
            text-align:center;
            color:ghostwhite; 
            background-color:#0D0D0D;
        }
        /*Nav Bar*/
        header
        {
            text-align: center;
            font-family: NexaL;
            margin: 2px,auto;
            background:#1A1A1A
        }
        header::after 
        {
            content: '';
            display: table;
            clear: both;
        }

        .nav ul 
        {
            padding-left: 30%;
            list-style: none;
        }
        .nav li 
        {
            display: inline-block;
            margin-left: 2%;
            padding-top: 2%;
            position: relative;
        }
        .nav a
        {
            color:ghostwhite;
            text-decoration: none;
            text-transform: uppercase;
            transition: all ease-in-out 300ms;
        }
        .nav a::after /* Nav Bar Underline animation*/
        {
            content:'';
            display: block;
            height: 2px;
            width: 0%;
            background-color: ghostwhite;
            transition: all ease-in-out 250ms;
        }
        .nav a:hover::after
        {
            width: 100%;
        }
        /*Text*/
</style>