<style >
        /*My name*/
        .main 
        {
            font-family: NexaB;
            font-size: 40px;
            font-weight: 800;
            margin: 1%;
            text-align: center;
        }
        /*Body Info*/
        body
        {
            font-family: NexaL;
            font-weight: 600;
            text-transform: uppercase;
            text-align:center;
            color:ghostwhite; 
            background-color:#0D0D0D;
        }
        /*Nav Bar*/
        .topnav 
        {
            text-align: center;
            font-family: NexaL;
            margin: 0px,auto;
            background:#1A1A1A
        }
        .topnav::after 
        {
            content: '';
            display: table;
            clear: both;
        }

        .nav ul 
        {
            padding-left: 30%;
            list-style: none;
        }

        .nav li 
        {
            display: inline-block;
            margin-left: 70px;
            padding-top: 10px;
            position: relative;
        }
        .nav a
        {
            color:ghostwhite;
            text-decoration: none;
            text-transform: uppercase;
        }
        /*Text*/
</style>