@font-face {
    font-family: "Bold";
    src: url("../font/Gravity-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Regular";
    src: url("../font/Gravity-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Thin";
    src: url("../font/Gravity-Light.otf") format("opentype");
}
@font-face {
    font-family: "Italics";
    src: url("../font/Gravity-LightItalic.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
}

:root {
    --accent: #0e0f17;
    --shadow: black;
    --accentt: rgba(11, 12, 17, 0.82);
    --highlight: #d27af0;
    --highlight2: #267dff;
    --fg: ghostwhite;
    --fg0: gray;
    --bg: #141520;
    --icon-size: 20px;

    overflow: hidden;
    white-space: nowrap;
    font-family: Thin;
    font-size: x-large;
    color: var(--fg);
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    width: 100vw;
    height: 100vh;
}

/* top bar */

header {
    margin: 20px;
    position: relative;
}

header, #brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

#logo:hover {
    transform: rotateZ(360deg) scale(1.25);
    fill: var(--highlight);
}

#brand * {
    padding: 10px;
    font-size: medium;
}

.icon {
    height: var(--icon-size);
    width: var(--icon-size);
    fill: var(--fg);
    transition: all ease-in-out 350ms 100ms;
}

#clock {
    font-size: large;
}

/* main body */

main {
    height: 100%;
    width: 100%;
}

/* taskbar */

footer {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    border-radius: 100vh;
    background-color: var(--accent);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 250ms;
}

#contact li {
    margin: 2px 20px;
}

#contact li svg:hover {
    transform: rotateY(360deg) scale(1.1);
    fill: var(--highlight);
}